@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .border-3 {
    border-width: 3px;
  }
  
  .shadow-retro {
    box-shadow: 4px 4px 0px 0px #000000;
  }
  
  .shadow-retro-hover {
    box-shadow: 2px 2px 0px 0px #000000;
  }
}
